@import	"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background:url(../IMAGENES/fondo1.jpg) no-repeat;
	background-size: cover;

}

.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(2,2,30,.45);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.8);
	border-radius: 50px;
	border-width: 25px 20px 200px 200px;
}

.box h2{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;


}

.box .inputBox{
	position: relative;
}

.box .inputBox input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent; 

}

.box .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
top: -20px;
left: 0;
color: #03a9f4;
font-size 12px;

}

.box input[type="submit"]{
    position: relative;
    left: 38%;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background:#03a9f4;
	padding: 10px 20px; 
	cursor: pointer;
	border-radius: 5px;

}
.box input[type="submit"]:hover{
	color: 355784;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

